$primary: {{ INDIGO_PRIMARY_COLOR }};


$primary: rgb(61,94,109);
$inverse: rgb(129,170,188);

//$inverse: rgba(65,98,111,1);

// Theme fonts
$font-family-title: Plex;
$serif: Crimson;
$f-sans-serif: Crimson, 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
